main {
  margin: auto;
}

.form-signin {
    width: 100%;
    max-width: 375px;
    padding: 15px;
}

.reg-success,
.reg-fail {
    max-width: 400px !important;
}

.form-signin .checkbox {
    font-weight: 400;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.text-white {
    color: white;
}

.smaller-font {
    font-size: smaller;
}

.xsmall-font {
    font-size: x-small;
}

.bold-text {
    font-weight: 600;
}

.reg-text {
    font-weight: 400;
}

.rounded-25 {
    border-radius: 25px;
}

.restricted {
    max-width: 500px !important;
}

.smaller-font {
    font-size: smaller;
    word-wrap: break-word;
    line-height: 0.4rem;
}

.smallest-font{
    font-size: 0.4rem;
    word-wrap: break-word;
}
